@use '@angular/material' as mat;
$custom-m2-palette: (
  50: #e0f7fe,
  100: #b3ecfc,
  200: #80dffb,
  300: #4dd2f9,
  400: #26c9f8,
  500: #00aced,
  600: #00a4e8,
  700: #008fdf,
  800: #0099e3,
  900: #007dd8,
  A100: #ffffff,
  A200: #c7edff,
  A400: #94e0ff,
  A700: #7bdaff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$custom-dark-palette: (
  50: #002b36,
  100: #003f4e,
  200: #00586d,
  300: #00739a,
  400: #008bbd,
  500: #00aced, // color principal (turquesa brillante)
  600: #26c6f8,
  700: #4dd2f9,
  800: #80dffb,
  900: #b3ecfc,
  A100: #00aced,
  A200: #4dd2f9,
  A400: #80dffb,
  A700: #b3ecfc,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: black,
    600: black,
    700: black,
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  )
);

// Define paletas M2
$my-m2-primary: mat.m2-define-palette($custom-m2-palette, A100, 100, 900);
$my-m2-accent: mat.m2-define-palette(mat.$m2-orange-palette, 500);
$my-m2-warn: mat.m2-define-palette(mat.$m2-red-palette, 200, 500, 400);

// Crea tema M2 (NO uses mat.define-theme, usa mat.m2-define-light-theme)
$my-m2-theme: mat.m2-define-dark-theme((
  color: (
    primary: $my-m2-primary,
    accent: $my-m2-accent,
    warn: $my-m2-warn
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

:root {
   @include mat.all-component-themes($my-m2-theme);
}
